<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Job alert HTML maker</title>
   </head>
   <body>
      <p>This is a snazzy site that should help with job alerts</p>
      <p>Enter the jobs that need to appear in the newsletter. Put a space between each link.</p>
      <p>I'll do the rest...</p>
      <form class="links" action="/links" method="post">
         <input type="text" name="urls" value="">
         <input type="submit" value="Submit">
      </form>
   </body>
</html>
